
.header{
    height: 75px;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    
    
}

.menuFixed{
    background: rgb(204, 204, 204);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 2px 10px rgba(187, 187, 187, 0.938);
   
}


.subheader{
    width: 80%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-movil-button{
    display: none;
}


.menu{
    
    list-style: none;
    display: flex;
    justify-content: right;
}

.menuItem > a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    color: rgb(182, 182, 182);
    font-weight: lighter;
}

.menuFixed .menuItem > a{
    color: rgb(75, 75, 75);
}


.menuItem > a:hover{
    color: var(--colorPrincipalLiviano);
}

.active{
    color: var(--colorPrincipal) !important;
   
}


@media screen and (max-width: 720px) {
    .header{
        
        background: black;
       color: white;
        
        
    }
    .subheader{
        width: 90%;
        height: 75px;
        background: inherit;
        
    }
    .menuFixed{
        background: rgb(204, 204, 204);
       
    }
    .menu-movil{
        margin-left: auto;
        display: flex;
        align-items: center;
        
    }

    .menu-movil-button{
        font-size: 20px;
        margin-left: 20px;
        background: transparent;
        border: none;
        color: white;
        outline: none !important;
        display: block;
    }
    
    
  

    .menu-movil-button:hover{
        color: var(--colorPrincipalLiviano);
    }
    
    .menu{
        width: 100%;
        justify-content: right;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        background: inherit;
        padding-left: 5%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
        
        
    }

    .d-flex{
        display: flex;
    }

    .menuItem > a{
        padding: 0.35rem 0;
        width: 100%;
        display: block;
        
    }
    
}